/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
	padding-bottom: 130px;

	.info {
		padding: 30px;
		background: #fff;
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		border-radius: 6px;
		height: fit-content;
        

		i {
			font-size: 20px;
			color: #149ddd;
			float: left;
			width: 44px;
			height: 44px;
			background: #dff3fc;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}

		h4 {
			padding: 0 0 0 60px;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: #050d18;
		}

		p {
			padding: 0 0 10px 60px;
			margin-bottom: 20px;
			font-size: 14px;
			color: #173b6c;
		}

		.email:hover i,
		.address:hover i,
		.phone:hover i {
			background: #149ddd;
			color: #fff;
		}
	}

	//============= Form Styles===============//
	.email-form {
		width: 100%;
		padding: 30px;
		background: #fff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		border-radius: 6px;

		.validate {
			display: none;
			color: red;
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}

		.form-group {
			padding-bottom: 14px;
		}

		input {
			height: 44px;
		}

		input,
		textarea {
			padding: 10px 12px;
		}
	}

	button[type='submit'] {
		background: #149ddd;
		border: 0;
		padding: 10px 12px;
		color: #fff;
		transition: 0.4s;
		border-radius: 4px;

		&:hover {
			background: #004e72;
		}
	}
}
