/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills {
	.progress {
		height: 70px;
		display: block;
		background: none;
	}

	.skill {
		padding: 10px 0;
		margin: 0 0 6px 0;
		text-transform: uppercase;
		display: block;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color: #050d18;

		.val {
			float: right;
			font-style: normal;
		}
	}

	.progress-bar-wrap {
		background-color: #dde9f8;
		border-radius: 10px;

		.progress-bar {
			border-radius: 6px;
			width: 1px;
			height: 6px;
			transition: 0.9s;
			background-color: #149ddd;
		}
	}
}
